{
  "presets": ["react", "es2015", "stage-1",
    ["env", {
      "targets": {
        "browsers": ["ie >= 11", "edge >= 16", "last 2 Chrome versions", "safari >= 10.1", "firefox >= 52", "ChromeAndroid >= 62", "iOS >= 10"]
      }
    }]
  ],
  "plugins": ["add-module-exports"]
}
