{
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "prettier"],
  "globals": {
    "graphql": false
  },
  "parser": "babel-eslint",
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-props": [
      "error",
      {
        "reservedFirst": false
      }
    ]
  }
}
