{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "declaration-colon-newline-after": null,
    "value-list-max-empty-lines": null,
    "declaration-empty-line-before": null,
    "plugin/no-unsupported-browser-features": [ true, {
      "browsers": ["ie >= 11", "edge >= 16", "last 2 Chrome versions", "safari >= 10.1", "firefox >= 52", "ChromeAndroid >= 62", "iOS >= 10"],
      "severity": "warning"
    }]
  },
  "syntax": "scss"
}
