@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 80px;
}

.container[id] {
  padding-top: 40px;
}

/* Forms */

form button[type="submit"] {
  margin-top: 30px;
}

address:last-child {
  margin-bottom: 0;
}

#lead-form textarea {
  resize: vertical;
}

/* Headers */

h1 {
  color: #222;
}

h2, h3 {
  color: #444;
}

h4, h5 {
  color: #666;
}

h6 {
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* Links */

a {
  color: #3498DB;
}

a:focus,
a:hover {
  color: #2383C4;
}

/* Navigation */

.navbar-header .navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: rgba(26, 36, 47, 0.33);
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
}

/* Section Header */

.section-header {
  text-align: center;
  border: none;
  margin: 40px 0 20px;
}

.section-header > h1 {
  color: #2C3E50;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAANbW1gAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgTWFjaW50b3NoIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjhDRDk0RUI1NkQ3NzExRTFCRTBBQUNBMjU2RUU0Q0U1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjhDRDk0RUI2NkQ3NzExRTFCRTBBQUNBMjU2RUU0Q0U1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OENEOTRFQjM2RDc3MTFFMUJFMEFBQ0EyNTZFRTRDRTUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OENEOTRFQjQ2RDc3MTFFMUJFMEFBQ0EyNTZFRTRDRTUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAAAQABAAACAkQBADs=);
  background-position: center;
  background-repeat: repeat-x;
}

.section-header > h1 > span {
  border-width: 0px 34px;
  background-color: #FFF;
  padding: 0 20px;
}

/* Banner */

#banner {
  background-color: #4F5052;
  background-image: url(/assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #222;
  position: relative;
}

#banner h1 {
  font-size: 6em;
  text-transform: uppercase;
}

.banner-inner {
  padding-top: 60px;
  height: 100%;
  overflow: hidden;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.banner-inner:after {
  content: "";
  display: table;
  clear: both;
}

.banner-inner > .container {
  position: relative;
  margin-top: -15%;
  top: 50%;
}

#banner .scroll {
  bottom: 2.8125em;
  color: #000;
  font-size: 0.75em;
  left: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

#banner .scroll i {
  display: block;
  font-size: 1.75em;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
}

/* Our Team */

ul.team-member-list {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
  line-height: 0;
  text-align: center;
}

.team-member-list > .team-member {
  display: inline-block;
  overflow: hidden;
  width: 20%;
  min-width: 144px;
  max-width: 228px;
  padding: 4px;
  vertical-align: top;
  position: relative;
}

.team-member img {
  height: auto;
  width: 100%;
}

.team-member > .flippable {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.team-member .flip-card-front,
.team-member .flip-card-back {
  width: 100%;
  height: 100%;
}

.team-member-info h4 {
  margin: 8px 0;
}

.team-member-info h4 > small {
  display: block;
}

/* Flippable */

.flippable {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flippable:hover .flip-card-x,
.flippable.hover .flip-card-x {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flippable,
.flip-card-front,
.flip-card-back {
  width: 180px;
  height: 180px;
}

.flip-card-x {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transition-delay: 2s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Responsive: Small */

@media (min-width: 768px) {
  
}

/* Responsive: Medium */

@media (min-width: 992px) {
  
}

/* Responsive: Large */

@media (min-width: 1200px) {
  
}

/* Responsive: iPhone 5 */

@media only screen and (min-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .section-header > h1 {
    background-image: none;
  }
  
  .banner-inner {
    height: auto;
    padding-top: 5.5em;
    padding-bottom: 3em
  }

  .banner-inner .container {
    position: relative;
    margin-top: 0;
    top: auto
  }

  #banner h1 {
    font-size: 3em
  }
}
