@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

body {
  padding-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

section[id] {
  padding-top: 80px;
}

address:last-child {
  margin-bottom: 0;
}

#lead-form textarea {
  resize: vertical;
}

.navbar-header .navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: rgba(26, 36, 47, 0.33);
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
}

.page-header {
  text-align: center;
  border: none;
}

.page-header > h1 {
  background-image: url(http://www.tilde.io/images/common/grey-line-1e0e9dea.gif);
  background-position: center;
  background-repeat: repeat-x;
  text-transform: uppercase;
}

.page-header > h1 > span {
  border-width: 0px 34px;
  background-color: #FFF;
  padding: 0 20px;
}

h2 > i.fa {
  color: #aaa;
  margin-right: 6px;
}

a {
  color: #3498DB;
}

a:focus,
a:hover {
  color: #2383C4;
}

#banner {
  background-color: #4F5052;
  background-image: url(/assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #222;
  position: relative;
}

#banner h1 {
  font-size: 6em;
  text-transform: uppercase;
}

.banner-inner {
  padding-top: 60px;
  height: 100%;
  overflow: hidden;
  text-align: center;

  max-width: 71.25em;
  margin-left: auto;
  margin-right: auto;
}

.banner-inner:after {
  content: "";
  display: table;
  clear: both;
}

.banner-content {
  position: relative;
  margin-top: -15%;
  top: 50%;
}

#banner .scroll {
  bottom: 2.8125em;
  color: #000;
  font-size: 0.75em;
  left: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

#banner .scroll i {
  display: block;
  font-size: 1.75em;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
}
