@import "vendor/bootstrap/bootstrap";
@import "bootstrap-theme";

// Fix the Bootstrap icon-font declaration.
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{asset_path('glyphicons-halflings-regular.eot')}');
  src: url('#{asset_path('glyphicons-halflings-regular.eot')}?#iefix') format('embedded-opentype'),
  url('#{asset_path('glyphicons-halflings-regular.woff')}') format('woff'),
  url('#{asset_path('glyphicons-halflings-regular.ttf')}') format('truetype'),
  url('#{asset_path('glyphicons-halflings-regular.svg')}#glyphicons-halflingsregular') format('svg');
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-form {
  label {
    display: none;
  }

  .input-group {
    margin-bottom: 10px;
  }

  textarea {
    height: 166px;
  }

  button[type="submit"] {
    margin-top: 10px;
  }
}