# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
    branches: [next]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: setup checkout
        uses: actions/checkout@v2

      - name: setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '15'
          check-latest: true

      - name: setup cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: install
        run: npm install

      - name: lint css
        run: npm run ci:lint:css

      - name: lint js
        run: npm run ci:lint:js

      - name: typecheck js
        run: npm run ci:build:ts
